g_strCom:COM4
g_iSeleCur:0
Level:20
L_N_1: 1
L_PE_1: 0
DL_PE_1: 0
N_PE_1: 0
DN_PE_1: 0
DN_PE_1: 500
EUT_1: 1
Number_1: 100
Waveform_1: 1
Repet_1: 10.0
SurgePort_1: 0
TriggerMode_1: 0
Alternate_1: 0
PowerSyn_1: 0
PhaseSyn_1: 0
Deg11: 0
Deg21: 0
Deg31: 0
Deg41: 0
Deg1EN_1: 0
Deg2EN_1: 0
Deg3EN_1: 0
Deg4EN_1: 0
VpeakHLMT_1: 1000
VpeakLLMT_1: 0
IpeakHLMT_1: 1000
IpeakLLMT_1: 0
VpeakHLMT_EN_1: 0
VpeakLLMT_EN_1: 0
IpeakHLMT_EN_1: 0
IpeakLLMT_EN_1: 0
L_N_2: 1
L_PE_2: 0
DL_PE_2: 0
N_PE_2: 0
DN_PE_2: 0
DN_PE_2: 500
EUT_2: 1
Number_2: 100
Waveform_2: 1
Repet_2: 10.0
SurgePort_2: 0
TriggerMode_2: 0
Alternate_2: 0
PowerSyn_2: 0
PhaseSyn_2: 0
Deg12: 0
Deg22: 0
Deg32: 0
Deg42: 0
Deg1EN_2: 0
Deg2EN_2: 0
Deg3EN_2: 0
Deg4EN_2: 0
VpeakHLMT_2: 1000
VpeakLLMT_2: 0
IpeakHLMT_2: 1000
IpeakLLMT_2: 0
VpeakHLMT_EN_2: 0
VpeakLLMT_EN_2: 0
IpeakHLMT_EN_2: 0
IpeakLLMT_EN_2: 0
L_N_3: 1
L_PE_3: 0
DL_PE_3: 0
N_PE_3: 0
DN_PE_3: 0
DN_PE_3: 500
EUT_3: 1
Number_3: 100
Waveform_3: 1
Repet_3: 10.0
SurgePort_3: 0
TriggerMode_3: 0
Alternate_3: 1
PowerSyn_3: 0
PhaseSyn_3: 0
Deg13: 0
Deg23: 0
Deg33: 0
Deg43: 0
Deg1EN_3: 0
Deg2EN_3: 0
Deg3EN_3: 0
Deg4EN_3: 0
VpeakHLMT_3: 1000
VpeakLLMT_3: 0
IpeakHLMT_3: 1000
IpeakLLMT_3: 0
VpeakHLMT_EN_3: 0
VpeakLLMT_EN_3: 0
IpeakHLMT_EN_3: 0
IpeakLLMT_EN_3: 0
L_N_4: 1
L_PE_4: 0
DL_PE_4: 0
N_PE_4: 0
DN_PE_4: 0
DN_PE_4: 1000
EUT_4: 1
Number_4: 100
Waveform_4: 1
Repet_4: 10.0
SurgePort_4: 0
TriggerMode_4: 0
Alternate_4: 0
PowerSyn_4: 0
PhaseSyn_4: 0
Deg14: 0
Deg24: 0
Deg34: 0
Deg44: 0
Deg1EN_4: 0
Deg2EN_4: 0
Deg3EN_4: 0
Deg4EN_4: 0
VpeakHLMT_4: 1000
VpeakLLMT_4: 0
IpeakHLMT_4: 1000
IpeakLLMT_4: 0
VpeakHLMT_EN_4: 0
VpeakLLMT_EN_4: 0
IpeakHLMT_EN_4: 0
IpeakLLMT_EN_4: 0
L_N_5: 1
L_PE_5: 0
DL_PE_5: 0
N_PE_5: 0
DN_PE_5: 0
DN_PE_5: 1000
EUT_5: 1
Number_5: 100
Waveform_5: 1
Repet_5: 10.0
SurgePort_5: 0
TriggerMode_5: 0
Alternate_5: 0
PowerSyn_5: 0
PhaseSyn_5: 0
Deg15: 0
Deg25: 0
Deg35: 0
Deg45: 0
Deg1EN_5: 0
Deg2EN_5: 0
Deg3EN_5: 0
Deg4EN_5: 0
VpeakHLMT_5: 1000
VpeakLLMT_5: 0
IpeakHLMT_5: 1000
IpeakLLMT_5: 0
VpeakHLMT_EN_5: 0
VpeakLLMT_EN_5: 0
IpeakHLMT_EN_5: 0
IpeakLLMT_EN_5: 0
L_N_6: 1
L_PE_6: 0
DL_PE_6: 0
N_PE_6: 0
DN_PE_6: 0
DN_PE_6: 1000
EUT_6: 1
Number_6: 100
Waveform_6: 1
Repet_6: 10.0
SurgePort_6: 0
TriggerMode_6: 0
Alternate_6: 1
PowerSyn_6: 0
PhaseSyn_6: 0
Deg16: 0
Deg26: 0
Deg36: 0
Deg46: 0
Deg1EN_6: 0
Deg2EN_6: 0
Deg3EN_6: 0
Deg4EN_6: 0
VpeakHLMT_6: 1000
VpeakLLMT_6: 0
IpeakHLMT_6: 1000
IpeakLLMT_6: 0
VpeakHLMT_EN_6: 0
VpeakLLMT_EN_6: 0
IpeakHLMT_EN_6: 0
IpeakLLMT_EN_6: 0
L_N_7: 1
L_PE_7: 0
DL_PE_7: 0
N_PE_7: 0
DN_PE_7: 0
DN_PE_7: 2000
EUT_7: 1
Number_7: 100
Waveform_7: 1
Repet_7: 10.0
SurgePort_7: 0
TriggerMode_7: 0
Alternate_7: 0
PowerSyn_7: 0
PhaseSyn_7: 0
Deg17: 0
Deg27: 0
Deg37: 0
Deg47: 0
Deg1EN_7: 0
Deg2EN_7: 0
Deg3EN_7: 0
Deg4EN_7: 0
VpeakHLMT_7: 1000
VpeakLLMT_7: 0
IpeakHLMT_7: 1000
IpeakLLMT_7: 0
VpeakHLMT_EN_7: 0
VpeakLLMT_EN_7: 0
IpeakHLMT_EN_7: 0
IpeakLLMT_EN_7: 0
L_N_8: 1
L_PE_8: 0
DL_PE_8: 0
N_PE_8: 0
DN_PE_8: 0
DN_PE_8: 2000
EUT_8: 1
Number_8: 100
Waveform_8: 1
Repet_8: 10.0
SurgePort_8: 0
TriggerMode_8: 0
Alternate_8: 0
PowerSyn_8: 0
PhaseSyn_8: 0
Deg18: 0
Deg28: 0
Deg38: 0
Deg48: 0
Deg1EN_8: 0
Deg2EN_8: 0
Deg3EN_8: 0
Deg4EN_8: 0
VpeakHLMT_8: 1000
VpeakLLMT_8: 0
IpeakHLMT_8: 1000
IpeakLLMT_8: 0
VpeakHLMT_EN_8: 0
VpeakLLMT_EN_8: 0
IpeakHLMT_EN_8: 0
IpeakLLMT_EN_8: 0
L_N_9: 1
L_PE_9: 0
DL_PE_9: 0
N_PE_9: 0
DN_PE_9: 0
DN_PE_9: 2000
EUT_9: 1
Number_9: 100
Waveform_9: 1
Repet_9: 10.0
SurgePort_9: 0
TriggerMode_9: 0
Alternate_9: 1
PowerSyn_9: 0
PhaseSyn_9: 0
Deg19: 0
Deg29: 0
Deg39: 0
Deg49: 0
Deg1EN_9: 0
Deg2EN_9: 0
Deg3EN_9: 0
Deg4EN_9: 0
VpeakHLMT_9: 1000
VpeakLLMT_9: 0
IpeakHLMT_9: 1000
IpeakLLMT_9: 0
VpeakHLMT_EN_9: 0
VpeakLLMT_EN_9: 0
IpeakHLMT_EN_9: 0
IpeakLLMT_EN_9: 0
L_N_10: 1
L_PE_10: 0
DL_PE_10: 0
N_PE_10: 0
DN_PE_10: 0
DN_PE_10: 4000
EUT_10: 1
Number_10: 100
Waveform_10: 1
Repet_10: 10.0
SurgePort_10: 0
TriggerMode_10: 0
Alternate_10: 0
PowerSyn_10: 0
PhaseSyn_10: 0
Deg110: 0
Deg210: 0
Deg310: 0
Deg410: 0
Deg1EN_10: 0
Deg2EN_10: 0
Deg3EN_10: 0
Deg4EN_10: 0
VpeakHLMT_10: 1000
VpeakLLMT_10: 0
IpeakHLMT_10: 1000
IpeakLLMT_10: 0
VpeakHLMT_EN_10: 0
VpeakLLMT_EN_10: 0
IpeakHLMT_EN_10: 0
IpeakLLMT_EN_10: 0
L_N_11: 1
L_PE_11: 0
DL_PE_11: 0
N_PE_11: 0
DN_PE_11: 0
DN_PE_11: 4000
EUT_11: 1
Number_11: 100
Waveform_11: 1
Repet_11: 10.0
SurgePort_11: 0
TriggerMode_11: 0
Alternate_11: 0
PowerSyn_11: 0
PhaseSyn_11: 0
Deg111: 0
Deg211: 0
Deg311: 0
Deg411: 0
Deg1EN_11: 0
Deg2EN_11: 0
Deg3EN_11: 0
Deg4EN_11: 0
VpeakHLMT_11: 1000
VpeakLLMT_11: 0
IpeakHLMT_11: 1000
IpeakLLMT_11: 0
VpeakHLMT_EN_11: 0
VpeakLLMT_EN_11: 0
IpeakHLMT_EN_11: 0
IpeakLLMT_EN_11: 0
L_N_12: 1
L_PE_12: 0
DL_PE_12: 0
N_PE_12: 0
DN_PE_12: 0
DN_PE_12: 4000
EUT_12: 1
Number_12: 100
Waveform_12: 1
Repet_12: 10.0
SurgePort_12: 0
TriggerMode_12: 0
Alternate_12: 1
PowerSyn_12: 0
PhaseSyn_12: 0
Deg112: 0
Deg212: 0
Deg312: 0
Deg412: 0
Deg1EN_12: 0
Deg2EN_12: 0
Deg3EN_12: 0
Deg4EN_12: 0
VpeakHLMT_12: 1000
VpeakLLMT_12: 0
IpeakHLMT_12: 1000
IpeakLLMT_12: 0
VpeakHLMT_EN_12: 0
VpeakLLMT_EN_12: 0
IpeakHLMT_EN_12: 0
IpeakLLMT_EN_12: 0
L_N_13: 1
L_PE_13: 0
DL_PE_13: 0
N_PE_13: 0
DN_PE_13: 0
DN_PE_13: 500
EUT_13: 1
Number_13: 100
Waveform_13: 1
Repet_13: 10.0
SurgePort_13: 0
TriggerMode_13: 0
Alternate_13: 0
PowerSyn_13: 0
PhaseSyn_13: 0
Deg113: 0
Deg213: 0
Deg313: 0
Deg413: 0
Deg1EN_13: 0
Deg2EN_13: 0
Deg3EN_13: 0
Deg4EN_13: 0
VpeakHLMT_13: 1000
VpeakLLMT_13: 0
IpeakHLMT_13: 1000
IpeakLLMT_13: 0
VpeakHLMT_EN_13: 0
VpeakLLMT_EN_13: 0
IpeakHLMT_EN_13: 0
IpeakLLMT_EN_13: 0
L_N_14: 1
L_PE_14: 0
DL_PE_14: 0
N_PE_14: 0
DN_PE_14: 0
DN_PE_14: 500
EUT_14: 1
Number_14: 100
Waveform_14: 1
Repet_14: 10.0
SurgePort_14: 0
TriggerMode_14: 0
Alternate_14: 0
PowerSyn_14: 0
PhaseSyn_14: 0
Deg114: 0
Deg214: 0
Deg314: 0
Deg414: 0
Deg1EN_14: 0
Deg2EN_14: 0
Deg3EN_14: 0
Deg4EN_14: 0
VpeakHLMT_14: 1000
VpeakLLMT_14: 0
IpeakHLMT_14: 1000
IpeakLLMT_14: 0
VpeakHLMT_EN_14: 0
VpeakLLMT_EN_14: 0
IpeakHLMT_EN_14: 0
IpeakLLMT_EN_14: 0
L_N_15: 1
L_PE_15: 0
DL_PE_15: 0
N_PE_15: 0
DN_PE_15: 0
DN_PE_15: 500
EUT_15: 1
Number_15: 100
Waveform_15: 1
Repet_15: 10.0
SurgePort_15: 0
TriggerMode_15: 0
Alternate_15: 0
PowerSyn_15: 0
PhaseSyn_15: 0
Deg115: 0
Deg215: 0
Deg315: 0
Deg415: 0
Deg1EN_15: 0
Deg2EN_15: 0
Deg3EN_15: 0
Deg4EN_15: 0
VpeakHLMT_15: 1000
VpeakLLMT_15: 0
IpeakHLMT_15: 1000
IpeakLLMT_15: 0
VpeakHLMT_EN_15: 0
VpeakLLMT_EN_15: 0
IpeakHLMT_EN_15: 0
IpeakLLMT_EN_15: 0
L_N_16: 1
L_PE_16: 0
DL_PE_16: 0
N_PE_16: 0
DN_PE_16: 0
DN_PE_16: 500
EUT_16: 1
Number_16: 100
Waveform_16: 1
Repet_16: 10.0
SurgePort_16: 0
TriggerMode_16: 0
Alternate_16: 0
PowerSyn_16: 0
PhaseSyn_16: 0
Deg116: 0
Deg216: 0
Deg316: 0
Deg416: 0
Deg1EN_16: 0
Deg2EN_16: 0
Deg3EN_16: 0
Deg4EN_16: 0
VpeakHLMT_16: 1000
VpeakLLMT_16: 0
IpeakHLMT_16: 1000
IpeakLLMT_16: 0
VpeakHLMT_EN_16: 0
VpeakLLMT_EN_16: 0
IpeakHLMT_EN_16: 0
IpeakLLMT_EN_16: 0
L_N_17: 1
L_PE_17: 0
DL_PE_17: 0
N_PE_17: 0
DN_PE_17: 0
DN_PE_17: 500
EUT_17: 1
Number_17: 100
Waveform_17: 1
Repet_17: 10.0
SurgePort_17: 0
TriggerMode_17: 0
Alternate_17: 0
PowerSyn_17: 0
PhaseSyn_17: 0
Deg117: 0
Deg217: 0
Deg317: 0
Deg417: 0
Deg1EN_17: 0
Deg2EN_17: 0
Deg3EN_17: 0
Deg4EN_17: 0
VpeakHLMT_17: 1000
VpeakLLMT_17: 0
IpeakHLMT_17: 1000
IpeakLLMT_17: 0
VpeakHLMT_EN_17: 0
VpeakLLMT_EN_17: 0
IpeakHLMT_EN_17: 0
IpeakLLMT_EN_17: 0
L_N_18: 1
L_PE_18: 0
DL_PE_18: 0
N_PE_18: 0
DN_PE_18: 0
DN_PE_18: 500
EUT_18: 1
Number_18: 100
Waveform_18: 1
Repet_18: 10.0
SurgePort_18: 0
TriggerMode_18: 0
Alternate_18: 0
PowerSyn_18: 0
PhaseSyn_18: 0
Deg118: 0
Deg218: 0
Deg318: 0
Deg418: 0
Deg1EN_18: 0
Deg2EN_18: 0
Deg3EN_18: 0
Deg4EN_18: 0
VpeakHLMT_18: 1000
VpeakLLMT_18: 0
IpeakHLMT_18: 1000
IpeakLLMT_18: 0
VpeakHLMT_EN_18: 0
VpeakLLMT_EN_18: 0
IpeakHLMT_EN_18: 0
IpeakLLMT_EN_18: 0
L_N_19: 1
L_PE_19: 0
DL_PE_19: 0
N_PE_19: 0
DN_PE_19: 0
DN_PE_19: 500
EUT_19: 1
Number_19: 100
Waveform_19: 1
Repet_19: 10.0
SurgePort_19: 0
TriggerMode_19: 0
Alternate_19: 0
PowerSyn_19: 0
PhaseSyn_19: 0
Deg119: 0
Deg219: 0
Deg319: 0
Deg419: 0
Deg1EN_19: 0
Deg2EN_19: 0
Deg3EN_19: 0
Deg4EN_19: 0
VpeakHLMT_19: 1000
VpeakLLMT_19: 0
IpeakHLMT_19: 1000
IpeakLLMT_19: 0
VpeakHLMT_EN_19: 0
VpeakLLMT_EN_19: 0
IpeakHLMT_EN_19: 0
IpeakLLMT_EN_19: 0
L_N_20: 1
L_PE_20: 0
DL_PE_20: 0
N_PE_20: 0
DN_PE_20: 0
DN_PE_20: 500
EUT_20: 1
Number_20: 100
Waveform_20: 1
Repet_20: 10.0
SurgePort_20: 0
TriggerMode_20: 0
Alternate_20: 0
PowerSyn_20: 0
PhaseSyn_20: 0
Deg120: 0
Deg220: 0
Deg320: 0
Deg420: 0
Deg1EN_20: 0
Deg2EN_20: 0
Deg3EN_20: 0
Deg4EN_20: 0
VpeakHLMT_20: 1000
VpeakLLMT_20: 0
IpeakHLMT_20: 1000
IpeakLLMT_20: 0
VpeakHLMT_EN_20: 0
VpeakLLMT_EN_20: 0
IpeakHLMT_EN_20: 0
IpeakLLMT_EN_20: 0
L_N_21: 1
L_PE_21: 0
DL_PE_21: 0
N_PE_21: 0
DN_PE_21: 0
DN_PE_21: 1000
EUT_21: 1
Number_21: 100
Waveform_21: 1
Repet_21: 0.5
SurgePort_21: 0
TriggerMode_21: 0
Alternate_21: 0
PowerSyn_21: 0
PhaseSyn_21: 0
Deg121: 0
Deg221: 0
Deg321: 0
Deg421: 0
Deg1EN_21: 0
Deg2EN_21: 0
Deg3EN_21: 0
Deg4EN_21: 0
VpeakHLMT_21: 1500
VpeakLLMT_21: 0
IpeakHLMT_21: 1000
IpeakLLMT_21: 0
VpeakHLMT_EN_21: 0
VpeakLLMT_EN_21: 0
IpeakHLMT_EN_21: 0
IpeakLLMT_EN_21: 0
L_N_22: 1
L_PE_22: 0
DL_PE_22: 0
N_PE_22: 0
DN_PE_22: 0
DN_PE_22: 500
EUT_22: 1
Number_22: 100
Waveform_22: 1
Repet_22: 10.0
SurgePort_22: 0
TriggerMode_22: 0
Alternate_22: 0
PowerSyn_22: 0
PhaseSyn_22: 0
Deg122: 0
Deg222: 0
Deg322: 0
Deg422: 0
Deg1EN_22: 0
Deg2EN_22: 0
Deg3EN_22: 0
Deg4EN_22: 0
VpeakHLMT_22: 1000
VpeakLLMT_22: 0
IpeakHLMT_22: 1000
IpeakLLMT_22: 0
VpeakHLMT_EN_22: 0
VpeakLLMT_EN_22: 0
IpeakHLMT_EN_22: 0
IpeakLLMT_EN_22: 0
L_N_23: 1
L_PE_23: 0
DL_PE_23: 0
N_PE_23: 0
DN_PE_23: 0
DN_PE_23: 500
EUT_23: 1
Number_23: 100
Waveform_23: 1
Repet_23: 10.0
SurgePort_23: 0
TriggerMode_23: 0
Alternate_23: 0
PowerSyn_23: 0
PhaseSyn_23: 0
Deg123: 0
Deg223: 0
Deg323: 0
Deg423: 0
Deg1EN_23: 0
Deg2EN_23: 0
Deg3EN_23: 0
Deg4EN_23: 0
VpeakHLMT_23: 1000
VpeakLLMT_23: 0
IpeakHLMT_23: 1000
IpeakLLMT_23: 0
VpeakHLMT_EN_23: 0
VpeakLLMT_EN_23: 0
IpeakHLMT_EN_23: 0
IpeakLLMT_EN_23: 0
L_N_24: 1
L_PE_24: 0
DL_PE_24: 0
N_PE_24: 0
DN_PE_24: 0
DN_PE_24: 500
EUT_24: 1
Number_24: 100
Waveform_24: 1
Repet_24: 10.0
SurgePort_24: 0
TriggerMode_24: 0
Alternate_24: 0
PowerSyn_24: 0
PhaseSyn_24: 0
Deg124: 0
Deg224: 0
Deg324: 0
Deg424: 0
Deg1EN_24: 0
Deg2EN_24: 0
Deg3EN_24: 0
Deg4EN_24: 0
VpeakHLMT_24: 1000
VpeakLLMT_24: 0
IpeakHLMT_24: 1000
IpeakLLMT_24: 0
VpeakHLMT_EN_24: 0
VpeakLLMT_EN_24: 0
IpeakHLMT_EN_24: 0
IpeakLLMT_EN_24: 0
L_N_25: 1
L_PE_25: 0
DL_PE_25: 0
N_PE_25: 0
DN_PE_25: 0
DN_PE_25: 500
EUT_25: 1
Number_25: 100
Waveform_25: 1
Repet_25: 10.0
SurgePort_25: 0
TriggerMode_25: 0
Alternate_25: 0
PowerSyn_25: 0
PhaseSyn_25: 0
Deg125: 0
Deg225: 0
Deg325: 0
Deg425: 0
Deg1EN_25: 0
Deg2EN_25: 0
Deg3EN_25: 0
Deg4EN_25: 0
VpeakHLMT_25: 1000
VpeakLLMT_25: 0
IpeakHLMT_25: 1000
IpeakLLMT_25: 0
VpeakHLMT_EN_25: 0
VpeakLLMT_EN_25: 0
IpeakHLMT_EN_25: 0
IpeakLLMT_EN_25: 0
L_N_26: 1
L_PE_26: 0
DL_PE_26: 0
N_PE_26: 0
DN_PE_26: 0
DN_PE_26: 500
EUT_26: 1
Number_26: 100
Waveform_26: 1
Repet_26: 10.0
SurgePort_26: 0
TriggerMode_26: 0
Alternate_26: 0
PowerSyn_26: 0
PhaseSyn_26: 0
Deg126: 0
Deg226: 0
Deg326: 0
Deg426: 0
Deg1EN_26: 0
Deg2EN_26: 0
Deg3EN_26: 0
Deg4EN_26: 0
VpeakHLMT_26: 1000
VpeakLLMT_26: 0
IpeakHLMT_26: 1000
IpeakLLMT_26: 0
VpeakHLMT_EN_26: 0
VpeakLLMT_EN_26: 0
IpeakHLMT_EN_26: 0
IpeakLLMT_EN_26: 0
L_N_27: 1
L_PE_27: 0
DL_PE_27: 0
N_PE_27: 0
DN_PE_27: 0
DN_PE_27: 500
EUT_27: 1
Number_27: 100
Waveform_27: 1
Repet_27: 10.0
SurgePort_27: 0
TriggerMode_27: 0
Alternate_27: 0
PowerSyn_27: 0
PhaseSyn_27: 0
Deg127: 0
Deg227: 0
Deg327: 0
Deg427: 0
Deg1EN_27: 0
Deg2EN_27: 0
Deg3EN_27: 0
Deg4EN_27: 0
VpeakHLMT_27: 1000
VpeakLLMT_27: 0
IpeakHLMT_27: 1000
IpeakLLMT_27: 0
VpeakHLMT_EN_27: 0
VpeakLLMT_EN_27: 0
IpeakHLMT_EN_27: 0
IpeakLLMT_EN_27: 0
L_N_28: 1
L_PE_28: 0
DL_PE_28: 0
N_PE_28: 0
DN_PE_28: 0
DN_PE_28: 500
EUT_28: 1
Number_28: 100
Waveform_28: 1
Repet_28: 10.0
SurgePort_28: 0
TriggerMode_28: 0
Alternate_28: 0
PowerSyn_28: 0
PhaseSyn_28: 0
Deg128: 0
Deg228: 0
Deg328: 0
Deg428: 0
Deg1EN_28: 0
Deg2EN_28: 0
Deg3EN_28: 0
Deg4EN_28: 0
VpeakHLMT_28: 1000
VpeakLLMT_28: 0
IpeakHLMT_28: 1000
IpeakLLMT_28: 0
VpeakHLMT_EN_28: 0
VpeakLLMT_EN_28: 0
IpeakHLMT_EN_28: 0
IpeakLLMT_EN_28: 0
L_N_29: 1
L_PE_29: 0
DL_PE_29: 0
N_PE_29: 0
DN_PE_29: 0
DN_PE_29: 500
EUT_29: 1
Number_29: 100
Waveform_29: 1
Repet_29: 10.0
SurgePort_29: 0
TriggerMode_29: 0
Alternate_29: 0
PowerSyn_29: 0
PhaseSyn_29: 0
Deg129: 0
Deg229: 0
Deg329: 0
Deg429: 0
Deg1EN_29: 0
Deg2EN_29: 0
Deg3EN_29: 0
Deg4EN_29: 0
VpeakHLMT_29: 1000
VpeakLLMT_29: 0
IpeakHLMT_29: 1000
IpeakLLMT_29: 0
VpeakHLMT_EN_29: 0
VpeakLLMT_EN_29: 0
IpeakHLMT_EN_29: 0
IpeakLLMT_EN_29: 0
L_N_30: 1
L_PE_30: 0
DL_PE_30: 0
N_PE_30: 0
DN_PE_30: 0
DN_PE_30: 500
EUT_30: 1
Number_30: 100
Waveform_30: 1
Repet_30: 10.0
SurgePort_30: 0
TriggerMode_30: 0
Alternate_30: 0
PowerSyn_30: 0
PhaseSyn_30: 0
Deg130: 0
Deg230: 0
Deg330: 0
Deg430: 0
Deg1EN_30: 0
Deg2EN_30: 0
Deg3EN_30: 0
Deg4EN_30: 0
VpeakHLMT_30: 1000
VpeakLLMT_30: 0
IpeakHLMT_30: 1000
IpeakLLMT_30: 0
VpeakHLMT_EN_30: 0
VpeakLLMT_EN_30: 0
IpeakHLMT_EN_30: 0
IpeakLLMT_EN_30: 0
L_N_31: 1
L_PE_31: 0
DL_PE_31: 0
N_PE_31: 0
DN_PE_31: 0
DN_PE_31: 500
EUT_31: 1
Number_31: 100
Waveform_31: 1
Repet_31: 10.0
SurgePort_31: 0
TriggerMode_31: 0
Alternate_31: 0
PowerSyn_31: 0
PhaseSyn_31: 0
Deg131: 0
Deg231: 0
Deg331: 0
Deg431: 0
Deg1EN_31: 0
Deg2EN_31: 0
Deg3EN_31: 0
Deg4EN_31: 0
VpeakHLMT_31: 1000
VpeakLLMT_31: 0
IpeakHLMT_31: 1000
IpeakLLMT_31: 0
VpeakHLMT_EN_31: 0
VpeakLLMT_EN_31: 0
IpeakHLMT_EN_31: 0
IpeakLLMT_EN_31: 0
L_N_32: 1
L_PE_32: 0
DL_PE_32: 0
N_PE_32: 0
DN_PE_32: 0
DN_PE_32: 500
EUT_32: 1
Number_32: 100
Waveform_32: 1
Repet_32: 10.0
SurgePort_32: 0
TriggerMode_32: 0
Alternate_32: 0
PowerSyn_32: 0
PhaseSyn_32: 0
Deg132: 0
Deg232: 0
Deg332: 0
Deg432: 0
Deg1EN_32: 0
Deg2EN_32: 0
Deg3EN_32: 0
Deg4EN_32: 0
VpeakHLMT_32: 1000
VpeakLLMT_32: 0
IpeakHLMT_32: 1000
IpeakLLMT_32: 0
VpeakHLMT_EN_32: 0
VpeakLLMT_EN_32: 0
IpeakHLMT_EN_32: 0
IpeakLLMT_EN_32: 0
L_N_33: 1
L_PE_33: 0
DL_PE_33: 0
N_PE_33: 0
DN_PE_33: 0
DN_PE_33: 500
EUT_33: 1
Number_33: 100
Waveform_33: 1
Repet_33: 10.0
SurgePort_33: 0
TriggerMode_33: 0
Alternate_33: 0
PowerSyn_33: 0
PhaseSyn_33: 0
Deg133: 0
Deg233: 0
Deg333: 0
Deg433: 0
Deg1EN_33: 0
Deg2EN_33: 0
Deg3EN_33: 0
Deg4EN_33: 0
VpeakHLMT_33: 1000
VpeakLLMT_33: 0
IpeakHLMT_33: 1000
IpeakLLMT_33: 0
VpeakHLMT_EN_33: 0
VpeakLLMT_EN_33: 0
IpeakHLMT_EN_33: 0
IpeakLLMT_EN_33: 0
L_N_34: 1
L_PE_34: 0
DL_PE_34: 0
N_PE_34: 0
DN_PE_34: 0
DN_PE_34: 500
EUT_34: 1
Number_34: 100
Waveform_34: 1
Repet_34: 10.0
SurgePort_34: 0
TriggerMode_34: 0
Alternate_34: 0
PowerSyn_34: 0
PhaseSyn_34: 0
Deg134: 0
Deg234: 0
Deg334: 0
Deg434: 0
Deg1EN_34: 0
Deg2EN_34: 0
Deg3EN_34: 0
Deg4EN_34: 0
VpeakHLMT_34: 1000
VpeakLLMT_34: 0
IpeakHLMT_34: 1000
IpeakLLMT_34: 0
VpeakHLMT_EN_34: 0
VpeakLLMT_EN_34: 0
IpeakHLMT_EN_34: 0
IpeakLLMT_EN_34: 0
L_N_35: 1
L_PE_35: 0
DL_PE_35: 0
N_PE_35: 0
DN_PE_35: 0
DN_PE_35: 500
EUT_35: 1
Number_35: 100
Waveform_35: 1
Repet_35: 10.0
SurgePort_35: 0
TriggerMode_35: 0
Alternate_35: 0
PowerSyn_35: 0
PhaseSyn_35: 0
Deg135: 0
Deg235: 0
Deg335: 0
Deg435: 0
Deg1EN_35: 0
Deg2EN_35: 0
Deg3EN_35: 0
Deg4EN_35: 0
VpeakHLMT_35: 1000
VpeakLLMT_35: 0
IpeakHLMT_35: 1000
IpeakLLMT_35: 0
VpeakHLMT_EN_35: 0
VpeakLLMT_EN_35: 0
IpeakHLMT_EN_35: 0
IpeakLLMT_EN_35: 0
L_N_36: 1
L_PE_36: 0
DL_PE_36: 0
N_PE_36: 0
DN_PE_36: 0
DN_PE_36: 500
EUT_36: 1
Number_36: 100
Waveform_36: 1
Repet_36: 10.0
SurgePort_36: 0
TriggerMode_36: 0
Alternate_36: 0
PowerSyn_36: 0
PhaseSyn_36: 0
Deg136: 0
Deg236: 0
Deg336: 0
Deg436: 0
Deg1EN_36: 0
Deg2EN_36: 0
Deg3EN_36: 0
Deg4EN_36: 0
VpeakHLMT_36: 1000
VpeakLLMT_36: 0
IpeakHLMT_36: 1000
IpeakLLMT_36: 0
VpeakHLMT_EN_36: 0
VpeakLLMT_EN_36: 0
IpeakHLMT_EN_36: 0
IpeakLLMT_EN_36: 0
L_N_37: 1
L_PE_37: 0
DL_PE_37: 0
N_PE_37: 0
DN_PE_37: 0
DN_PE_37: 500
EUT_37: 1
Number_37: 100
Waveform_37: 1
Repet_37: 10.0
SurgePort_37: 0
TriggerMode_37: 0
Alternate_37: 0
PowerSyn_37: 0
PhaseSyn_37: 0
Deg137: 0
Deg237: 0
Deg337: 0
Deg437: 0
Deg1EN_37: 0
Deg2EN_37: 0
Deg3EN_37: 0
Deg4EN_37: 0
VpeakHLMT_37: 1000
VpeakLLMT_37: 0
IpeakHLMT_37: 1000
IpeakLLMT_37: 0
VpeakHLMT_EN_37: 0
VpeakLLMT_EN_37: 0
IpeakHLMT_EN_37: 0
IpeakLLMT_EN_37: 0
L_N_38: 1
L_PE_38: 0
DL_PE_38: 0
N_PE_38: 0
DN_PE_38: 0
DN_PE_38: 500
EUT_38: 1
Number_38: 100
Waveform_38: 1
Repet_38: 10.0
SurgePort_38: 0
TriggerMode_38: 0
Alternate_38: 0
PowerSyn_38: 0
PhaseSyn_38: 0
Deg138: 0
Deg238: 0
Deg338: 0
Deg438: 0
Deg1EN_38: 0
Deg2EN_38: 0
Deg3EN_38: 0
Deg4EN_38: 0
VpeakHLMT_38: 1000
VpeakLLMT_38: 0
IpeakHLMT_38: 1000
IpeakLLMT_38: 0
VpeakHLMT_EN_38: 0
VpeakLLMT_EN_38: 0
IpeakHLMT_EN_38: 0
IpeakLLMT_EN_38: 0
L_N_39: 1
L_PE_39: 0
DL_PE_39: 0
N_PE_39: 0
DN_PE_39: 0
DN_PE_39: 500
EUT_39: 1
Number_39: 100
Waveform_39: 1
Repet_39: 10.0
SurgePort_39: 0
TriggerMode_39: 0
Alternate_39: 0
PowerSyn_39: 0
PhaseSyn_39: 0
Deg139: 0
Deg239: 0
Deg339: 0
Deg439: 0
Deg1EN_39: 0
Deg2EN_39: 0
Deg3EN_39: 0
Deg4EN_39: 0
VpeakHLMT_39: 1000
VpeakLLMT_39: 0
IpeakHLMT_39: 1000
IpeakLLMT_39: 0
VpeakHLMT_EN_39: 0
VpeakLLMT_EN_39: 0
IpeakHLMT_EN_39: 0
IpeakLLMT_EN_39: 0
L_N_40: 1
L_PE_40: 0
DL_PE_40: 0
N_PE_40: 0
DN_PE_40: 0
DN_PE_40: 500
EUT_40: 1
Number_40: 100
Waveform_40: 1
Repet_40: 10.0
SurgePort_40: 0
TriggerMode_40: 0
Alternate_40: 0
PowerSyn_40: 0
PhaseSyn_40: 0
Deg140: 0
Deg240: 0
Deg340: 0
Deg440: 0
Deg1EN_40: 0
Deg2EN_40: 0
Deg3EN_40: 0
Deg4EN_40: 0
VpeakHLMT_40: 1000
VpeakLLMT_40: 0
IpeakHLMT_40: 1000
IpeakLLMT_40: 0
VpeakHLMT_EN_40: 0
VpeakLLMT_EN_40: 0
IpeakHLMT_EN_40: 0
IpeakLLMT_EN_40: 0
L_N_41: 1
L_PE_41: 0
DL_PE_41: 0
N_PE_41: 0
DN_PE_41: 0
DN_PE_41: 500
EUT_41: 1
Number_41: 100
Waveform_41: 1
Repet_41: 10.0
SurgePort_41: 0
TriggerMode_41: 0
Alternate_41: 0
PowerSyn_41: 0
PhaseSyn_41: 0
Deg141: 0
Deg241: 0
Deg341: 0
Deg441: 0
Deg1EN_41: 0
Deg2EN_41: 0
Deg3EN_41: 0
Deg4EN_41: 0
VpeakHLMT_41: 1000
VpeakLLMT_41: 0
IpeakHLMT_41: 1000
IpeakLLMT_41: 0
VpeakHLMT_EN_41: 0
VpeakLLMT_EN_41: 0
IpeakHLMT_EN_41: 0
IpeakLLMT_EN_41: 0
L_N_42: 1
L_PE_42: 0
DL_PE_42: 0
N_PE_42: 0
DN_PE_42: 0
DN_PE_42: 500
EUT_42: 1
Number_42: 100
Waveform_42: 1
Repet_42: 10.0
SurgePort_42: 0
TriggerMode_42: 0
Alternate_42: 0
PowerSyn_42: 0
PhaseSyn_42: 0
Deg142: 0
Deg242: 0
Deg342: 0
Deg442: 0
Deg1EN_42: 0
Deg2EN_42: 0
Deg3EN_42: 0
Deg4EN_42: 0
VpeakHLMT_42: 1000
VpeakLLMT_42: 0
IpeakHLMT_42: 1000
IpeakLLMT_42: 0
VpeakHLMT_EN_42: 0
VpeakLLMT_EN_42: 0
IpeakHLMT_EN_42: 0
IpeakLLMT_EN_42: 0
L_N_43: 1
L_PE_43: 0
DL_PE_43: 0
N_PE_43: 0
DN_PE_43: 0
DN_PE_43: 500
EUT_43: 1
Number_43: 100
Waveform_43: 1
Repet_43: 10.0
SurgePort_43: 0
TriggerMode_43: 0
Alternate_43: 0
PowerSyn_43: 0
PhaseSyn_43: 0
Deg143: 0
Deg243: 0
Deg343: 0
Deg443: 0
Deg1EN_43: 0
Deg2EN_43: 0
Deg3EN_43: 0
Deg4EN_43: 0
VpeakHLMT_43: 1000
VpeakLLMT_43: 0
IpeakHLMT_43: 1000
IpeakLLMT_43: 0
VpeakHLMT_EN_43: 0
VpeakLLMT_EN_43: 0
IpeakHLMT_EN_43: 0
IpeakLLMT_EN_43: 0
L_N_44: 1
L_PE_44: 0
DL_PE_44: 0
N_PE_44: 0
DN_PE_44: 0
DN_PE_44: 500
EUT_44: 1
Number_44: 100
Waveform_44: 1
Repet_44: 10.0
SurgePort_44: 0
TriggerMode_44: 0
Alternate_44: 0
PowerSyn_44: 0
PhaseSyn_44: 0
Deg144: 0
Deg244: 0
Deg344: 0
Deg444: 0
Deg1EN_44: 0
Deg2EN_44: 0
Deg3EN_44: 0
Deg4EN_44: 0
VpeakHLMT_44: 1000
VpeakLLMT_44: 0
IpeakHLMT_44: 1000
IpeakLLMT_44: 0
VpeakHLMT_EN_44: 0
VpeakLLMT_EN_44: 0
IpeakHLMT_EN_44: 0
IpeakLLMT_EN_44: 0
L_N_45: 1
L_PE_45: 0
DL_PE_45: 0
N_PE_45: 0
DN_PE_45: 0
DN_PE_45: 500
EUT_45: 1
Number_45: 100
Waveform_45: 1
Repet_45: 10.0
SurgePort_45: 0
TriggerMode_45: 0
Alternate_45: 0
PowerSyn_45: 0
PhaseSyn_45: 0
Deg145: 0
Deg245: 0
Deg345: 0
Deg445: 0
Deg1EN_45: 0
Deg2EN_45: 0
Deg3EN_45: 0
Deg4EN_45: 0
VpeakHLMT_45: 1000
VpeakLLMT_45: 0
IpeakHLMT_45: 1000
IpeakLLMT_45: 0
VpeakHLMT_EN_45: 0
VpeakLLMT_EN_45: 0
IpeakHLMT_EN_45: 0
IpeakLLMT_EN_45: 0
L_N_46: 1
L_PE_46: 0
DL_PE_46: 0
N_PE_46: 0
DN_PE_46: 0
DN_PE_46: 500
EUT_46: 1
Number_46: 100
Waveform_46: 1
Repet_46: 10.0
SurgePort_46: 0
TriggerMode_46: 0
Alternate_46: 0
PowerSyn_46: 0
PhaseSyn_46: 0
Deg146: 0
Deg246: 0
Deg346: 0
Deg446: 0
Deg1EN_46: 0
Deg2EN_46: 0
Deg3EN_46: 0
Deg4EN_46: 0
VpeakHLMT_46: 1000
VpeakLLMT_46: 0
IpeakHLMT_46: 1000
IpeakLLMT_46: 0
VpeakHLMT_EN_46: 0
VpeakLLMT_EN_46: 0
IpeakHLMT_EN_46: 0
IpeakLLMT_EN_46: 0
L_N_47: 1
L_PE_47: 0
DL_PE_47: 0
N_PE_47: 0
DN_PE_47: 0
DN_PE_47: 500
EUT_47: 1
Number_47: 100
Waveform_47: 1
Repet_47: 10.0
SurgePort_47: 0
TriggerMode_47: 0
Alternate_47: 0
PowerSyn_47: 0
PhaseSyn_47: 0
Deg147: 0
Deg247: 0
Deg347: 0
Deg447: 0
Deg1EN_47: 0
Deg2EN_47: 0
Deg3EN_47: 0
Deg4EN_47: 0
VpeakHLMT_47: 1000
VpeakLLMT_47: 0
IpeakHLMT_47: 1000
IpeakLLMT_47: 0
VpeakHLMT_EN_47: 0
VpeakLLMT_EN_47: 0
IpeakHLMT_EN_47: 0
IpeakLLMT_EN_47: 0
L_N_48: 1
L_PE_48: 0
DL_PE_48: 0
N_PE_48: 0
DN_PE_48: 0
DN_PE_48: 500
EUT_48: 1
Number_48: 100
Waveform_48: 1
Repet_48: 10.0
SurgePort_48: 0
TriggerMode_48: 0
Alternate_48: 0
PowerSyn_48: 0
PhaseSyn_48: 0
Deg148: 0
Deg248: 0
Deg348: 0
Deg448: 0
Deg1EN_48: 0
Deg2EN_48: 0
Deg3EN_48: 0
Deg4EN_48: 0
VpeakHLMT_48: 1000
VpeakLLMT_48: 0
IpeakHLMT_48: 1000
IpeakLLMT_48: 0
VpeakHLMT_EN_48: 0
VpeakLLMT_EN_48: 0
IpeakHLMT_EN_48: 0
IpeakLLMT_EN_48: 0
L_N_49: 1
L_PE_49: 0
DL_PE_49: 0
N_PE_49: 0
DN_PE_49: 0
DN_PE_49: 500
EUT_49: 1
Number_49: 100
Waveform_49: 1
Repet_49: 10.0
SurgePort_49: 0
TriggerMode_49: 0
Alternate_49: 0
PowerSyn_49: 0
PhaseSyn_49: 0
Deg149: 0
Deg249: 0
Deg349: 0
Deg449: 0
Deg1EN_49: 0
Deg2EN_49: 0
Deg3EN_49: 0
Deg4EN_49: 0
VpeakHLMT_49: 1000
VpeakLLMT_49: 0
IpeakHLMT_49: 1000
IpeakLLMT_49: 0
VpeakHLMT_EN_49: 0
VpeakLLMT_EN_49: 0
IpeakHLMT_EN_49: 0
IpeakLLMT_EN_49: 0
L_N_50: 1
L_PE_50: 0
DL_PE_50: 0
N_PE_50: 0
DN_PE_50: 0
DN_PE_50: 500
EUT_50: 1
Number_50: 100
Waveform_50: 1
Repet_50: 10.0
SurgePort_50: 0
TriggerMode_50: 0
Alternate_50: 0
PowerSyn_50: 0
PhaseSyn_50: 0
Deg150: 0
Deg250: 0
Deg350: 0
Deg450: 0
Deg1EN_50: 0
Deg2EN_50: 0
Deg3EN_50: 0
Deg4EN_50: 0
VpeakHLMT_50: 1000
VpeakLLMT_50: 0
IpeakHLMT_50: 1000
IpeakLLMT_50: 0
VpeakHLMT_EN_50: 0
VpeakLLMT_EN_50: 0
IpeakHLMT_EN_50: 0
IpeakLLMT_EN_50: 0
L_N_51: 1
L_PE_51: 0
DL_PE_51: 0
N_PE_51: 0
DN_PE_51: 0
DN_PE_51: 500
EUT_51: 1
Number_51: 100
Waveform_51: 1
Repet_51: 10.0
SurgePort_51: 0
TriggerMode_51: 0
Alternate_51: 0
PowerSyn_51: 0
PhaseSyn_51: 0
Deg151: 0
Deg251: 0
Deg351: 0
Deg451: 0
Deg1EN_51: 0
Deg2EN_51: 0
Deg3EN_51: 0
Deg4EN_51: 0
VpeakHLMT_51: 1000
VpeakLLMT_51: 0
IpeakHLMT_51: 1000
IpeakLLMT_51: 0
VpeakHLMT_EN_51: 0
VpeakLLMT_EN_51: 0
IpeakHLMT_EN_51: 0
IpeakLLMT_EN_51: 0
L_N_52: 1
L_PE_52: 0
DL_PE_52: 0
N_PE_52: 0
DN_PE_52: 0
DN_PE_52: 500
EUT_52: 1
Number_52: 100
Waveform_52: 1
Repet_52: 10.0
SurgePort_52: 0
TriggerMode_52: 0
Alternate_52: 0
PowerSyn_52: 0
PhaseSyn_52: 0
Deg152: 0
Deg252: 0
Deg352: 0
Deg452: 0
Deg1EN_52: 0
Deg2EN_52: 0
Deg3EN_52: 0
Deg4EN_52: 0
VpeakHLMT_52: 1000
VpeakLLMT_52: 0
IpeakHLMT_52: 1000
IpeakLLMT_52: 0
VpeakHLMT_EN_52: 0
VpeakLLMT_EN_52: 0
IpeakHLMT_EN_52: 0
IpeakLLMT_EN_52: 0
L_N_53: 1
L_PE_53: 0
DL_PE_53: 0
N_PE_53: 0
DN_PE_53: 0
DN_PE_53: 500
EUT_53: 1
Number_53: 100
Waveform_53: 1
Repet_53: 10.0
SurgePort_53: 0
TriggerMode_53: 0
Alternate_53: 0
PowerSyn_53: 0
PhaseSyn_53: 0
Deg153: 0
Deg253: 0
Deg353: 0
Deg453: 0
Deg1EN_53: 0
Deg2EN_53: 0
Deg3EN_53: 0
Deg4EN_53: 0
VpeakHLMT_53: 1000
VpeakLLMT_53: 0
IpeakHLMT_53: 1000
IpeakLLMT_53: 0
VpeakHLMT_EN_53: 0
VpeakLLMT_EN_53: 0
IpeakHLMT_EN_53: 0
IpeakLLMT_EN_53: 0
L_N_54: 1
L_PE_54: 0
DL_PE_54: 0
N_PE_54: 0
DN_PE_54: 0
DN_PE_54: 500
EUT_54: 1
Number_54: 100
Waveform_54: 1
Repet_54: 10.0
SurgePort_54: 0
TriggerMode_54: 0
Alternate_54: 0
PowerSyn_54: 0
PhaseSyn_54: 0
Deg154: 0
Deg254: 0
Deg354: 0
Deg454: 0
Deg1EN_54: 0
Deg2EN_54: 0
Deg3EN_54: 0
Deg4EN_54: 0
VpeakHLMT_54: 1000
VpeakLLMT_54: 0
IpeakHLMT_54: 1000
IpeakLLMT_54: 0
VpeakHLMT_EN_54: 0
VpeakLLMT_EN_54: 0
IpeakHLMT_EN_54: 0
IpeakLLMT_EN_54: 0
L_N_55: 1
L_PE_55: 0
DL_PE_55: 0
N_PE_55: 0
DN_PE_55: 0
DN_PE_55: 500
EUT_55: 1
Number_55: 100
Waveform_55: 1
Repet_55: 10.0
SurgePort_55: 0
TriggerMode_55: 0
Alternate_55: 0
PowerSyn_55: 0
PhaseSyn_55: 0
Deg155: 0
Deg255: 0
Deg355: 0
Deg455: 0
Deg1EN_55: 0
Deg2EN_55: 0
Deg3EN_55: 0
Deg4EN_55: 0
VpeakHLMT_55: 1000
VpeakLLMT_55: 0
IpeakHLMT_55: 1000
IpeakLLMT_55: 0
VpeakHLMT_EN_55: 0
VpeakLLMT_EN_55: 0
IpeakHLMT_EN_55: 0
IpeakLLMT_EN_55: 0
L_N_56: 1
L_PE_56: 0
DL_PE_56: 0
N_PE_56: 0
DN_PE_56: 0
DN_PE_56: 500
EUT_56: 1
Number_56: 100
Waveform_56: 1
Repet_56: 10.0
SurgePort_56: 0
TriggerMode_56: 0
Alternate_56: 0
PowerSyn_56: 0
PhaseSyn_56: 0
Deg156: 0
Deg256: 0
Deg356: 0
Deg456: 0
Deg1EN_56: 0
Deg2EN_56: 0
Deg3EN_56: 0
Deg4EN_56: 0
VpeakHLMT_56: 1000
VpeakLLMT_56: 0
IpeakHLMT_56: 1000
IpeakLLMT_56: 0
VpeakHLMT_EN_56: 0
VpeakLLMT_EN_56: 0
IpeakHLMT_EN_56: 0
IpeakLLMT_EN_56: 0
L_N_57: 1
L_PE_57: 0
DL_PE_57: 0
N_PE_57: 0
DN_PE_57: 0
DN_PE_57: 500
EUT_57: 1
Number_57: 100
Waveform_57: 1
Repet_57: 10.0
SurgePort_57: 0
TriggerMode_57: 0
Alternate_57: 0
PowerSyn_57: 0
PhaseSyn_57: 0
Deg157: 0
Deg257: 0
Deg357: 0
Deg457: 0
Deg1EN_57: 0
Deg2EN_57: 0
Deg3EN_57: 0
Deg4EN_57: 0
VpeakHLMT_57: 1000
VpeakLLMT_57: 0
IpeakHLMT_57: 1000
IpeakLLMT_57: 0
VpeakHLMT_EN_57: 0
VpeakLLMT_EN_57: 0
IpeakHLMT_EN_57: 0
IpeakLLMT_EN_57: 0
L_N_58: 1
L_PE_58: 0
DL_PE_58: 0
N_PE_58: 0
DN_PE_58: 0
DN_PE_58: 500
EUT_58: 1
Number_58: 100
Waveform_58: 1
Repet_58: 10.0
SurgePort_58: 0
TriggerMode_58: 0
Alternate_58: 0
PowerSyn_58: 0
PhaseSyn_58: 0
Deg158: 0
Deg258: 0
Deg358: 0
Deg458: 0
Deg1EN_58: 0
Deg2EN_58: 0
Deg3EN_58: 0
Deg4EN_58: 0
VpeakHLMT_58: 1000
VpeakLLMT_58: 0
IpeakHLMT_58: 1000
IpeakLLMT_58: 0
VpeakHLMT_EN_58: 0
VpeakLLMT_EN_58: 0
IpeakHLMT_EN_58: 0
IpeakLLMT_EN_58: 0
L_N_59: 1
L_PE_59: 0
DL_PE_59: 0
N_PE_59: 0
DN_PE_59: 0
DN_PE_59: 500
EUT_59: 1
Number_59: 100
Waveform_59: 1
Repet_59: 10.0
SurgePort_59: 0
TriggerMode_59: 0
Alternate_59: 0
PowerSyn_59: 0
PhaseSyn_59: 0
Deg159: 0
Deg259: 0
Deg359: 0
Deg459: 0
Deg1EN_59: 0
Deg2EN_59: 0
Deg3EN_59: 0
Deg4EN_59: 0
VpeakHLMT_59: 1000
VpeakLLMT_59: 0
IpeakHLMT_59: 1000
IpeakLLMT_59: 0
VpeakHLMT_EN_59: 0
VpeakLLMT_EN_59: 0
IpeakHLMT_EN_59: 0
IpeakLLMT_EN_59: 0
L_N_60: 1
L_PE_60: 0
DL_PE_60: 0
N_PE_60: 0
DN_PE_60: 0
DN_PE_60: 500
EUT_60: 1
Number_60: 100
Waveform_60: 1
Repet_60: 10.0
SurgePort_60: 0
TriggerMode_60: 0
Alternate_60: 0
PowerSyn_60: 0
PhaseSyn_60: 0
Deg160: 0
Deg260: 0
Deg360: 0
Deg460: 0
Deg1EN_60: 0
Deg2EN_60: 0
Deg3EN_60: 0
Deg4EN_60: 0
VpeakHLMT_60: 1000
VpeakLLMT_60: 0
IpeakHLMT_60: 1000
IpeakLLMT_60: 0
VpeakHLMT_EN_60: 0
VpeakLLMT_EN_60: 0
IpeakHLMT_EN_60: 0
IpeakLLMT_EN_60: 0
L_N_61: 1
L_PE_61: 0
DL_PE_61: 0
N_PE_61: 0
DN_PE_61: 0
DN_PE_61: 500
EUT_61: 1
Number_61: 100
Waveform_61: 1
Repet_61: 10.0
SurgePort_61: 0
TriggerMode_61: 0
Alternate_61: 0
PowerSyn_61: 0
PhaseSyn_61: 0
Deg161: 0
Deg261: 0
Deg361: 0
Deg461: 0
Deg1EN_61: 0
Deg2EN_61: 0
Deg3EN_61: 0
Deg4EN_61: 0
VpeakHLMT_61: 1000
VpeakLLMT_61: 0
IpeakHLMT_61: 1000
IpeakLLMT_61: 0
VpeakHLMT_EN_61: 0
VpeakLLMT_EN_61: 0
IpeakHLMT_EN_61: 0
IpeakLLMT_EN_61: 0
L_N_62: 1
L_PE_62: 0
DL_PE_62: 0
N_PE_62: 0
DN_PE_62: 0
DN_PE_62: 500
EUT_62: 1
Number_62: 100
Waveform_62: 1
Repet_62: 10.0
SurgePort_62: 0
TriggerMode_62: 0
Alternate_62: 0
PowerSyn_62: 0
PhaseSyn_62: 0
Deg162: 0
Deg262: 0
Deg362: 0
Deg462: 0
Deg1EN_62: 0
Deg2EN_62: 0
Deg3EN_62: 0
Deg4EN_62: 0
VpeakHLMT_62: 1000
VpeakLLMT_62: 0
IpeakHLMT_62: 1000
IpeakLLMT_62: 0
VpeakHLMT_EN_62: 0
VpeakLLMT_EN_62: 0
IpeakHLMT_EN_62: 0
IpeakLLMT_EN_62: 0
L_N_63: 1
L_PE_63: 0
DL_PE_63: 0
N_PE_63: 0
DN_PE_63: 0
DN_PE_63: 500
EUT_63: 1
Number_63: 100
Waveform_63: 1
Repet_63: 10.0
SurgePort_63: 0
TriggerMode_63: 0
Alternate_63: 0
PowerSyn_63: 0
PhaseSyn_63: 0
Deg163: 0
Deg263: 0
Deg363: 0
Deg463: 0
Deg1EN_63: 0
Deg2EN_63: 0
Deg3EN_63: 0
Deg4EN_63: 0
VpeakHLMT_63: 1000
VpeakLLMT_63: 0
IpeakHLMT_63: 1000
IpeakLLMT_63: 0
VpeakHLMT_EN_63: 0
VpeakLLMT_EN_63: 0
IpeakHLMT_EN_63: 0
IpeakLLMT_EN_63: 0
L_N_64: 1
L_PE_64: 0
DL_PE_64: 0
N_PE_64: 0
DN_PE_64: 0
DN_PE_64: 500
EUT_64: 1
Number_64: 100
Waveform_64: 1
Repet_64: 10.0
SurgePort_64: 0
TriggerMode_64: 0
Alternate_64: 0
PowerSyn_64: 0
PhaseSyn_64: 0
Deg164: 0
Deg264: 0
Deg364: 0
Deg464: 0
Deg1EN_64: 0
Deg2EN_64: 0
Deg3EN_64: 0
Deg4EN_64: 0
VpeakHLMT_64: 1000
VpeakLLMT_64: 0
IpeakHLMT_64: 1000
IpeakLLMT_64: 0
VpeakHLMT_EN_64: 0
VpeakLLMT_EN_64: 0
IpeakHLMT_EN_64: 0
IpeakLLMT_EN_64: 0
L_N_65: 1
L_PE_65: 0
DL_PE_65: 0
N_PE_65: 0
DN_PE_65: 0
DN_PE_65: 500
EUT_65: 1
Number_65: 100
Waveform_65: 1
Repet_65: 10.0
SurgePort_65: 0
TriggerMode_65: 0
Alternate_65: 0
PowerSyn_65: 0
PhaseSyn_65: 0
Deg165: 0
Deg265: 0
Deg365: 0
Deg465: 0
Deg1EN_65: 0
Deg2EN_65: 0
Deg3EN_65: 0
Deg4EN_65: 0
VpeakHLMT_65: 1000
VpeakLLMT_65: 0
IpeakHLMT_65: 1000
IpeakLLMT_65: 0
VpeakHLMT_EN_65: 0
VpeakLLMT_EN_65: 0
IpeakHLMT_EN_65: 0
IpeakLLMT_EN_65: 0
L_N_66: 1
L_PE_66: 0
DL_PE_66: 0
N_PE_66: 0
DN_PE_66: 0
DN_PE_66: 500
EUT_66: 1
Number_66: 100
Waveform_66: 1
Repet_66: 10.0
SurgePort_66: 0
TriggerMode_66: 0
Alternate_66: 0
PowerSyn_66: 0
PhaseSyn_66: 0
Deg166: 0
Deg266: 0
Deg366: 0
Deg466: 0
Deg1EN_66: 0
Deg2EN_66: 0
Deg3EN_66: 0
Deg4EN_66: 0
VpeakHLMT_66: 1000
VpeakLLMT_66: 0
IpeakHLMT_66: 1000
IpeakLLMT_66: 0
VpeakHLMT_EN_66: 0
VpeakLLMT_EN_66: 0
IpeakHLMT_EN_66: 0
IpeakLLMT_EN_66: 0
L_N_67: 1
L_PE_67: 0
DL_PE_67: 0
N_PE_67: 0
DN_PE_67: 0
DN_PE_67: 500
EUT_67: 1
Number_67: 100
Waveform_67: 1
Repet_67: 10.0
SurgePort_67: 0
TriggerMode_67: 0
Alternate_67: 0
PowerSyn_67: 0
PhaseSyn_67: 0
Deg167: 0
Deg267: 0
Deg367: 0
Deg467: 0
Deg1EN_67: 0
Deg2EN_67: 0
Deg3EN_67: 0
Deg4EN_67: 0
VpeakHLMT_67: 1000
VpeakLLMT_67: 0
IpeakHLMT_67: 1000
IpeakLLMT_67: 0
VpeakHLMT_EN_67: 0
VpeakLLMT_EN_67: 0
IpeakHLMT_EN_67: 0
IpeakLLMT_EN_67: 0
L_N_68: 1
L_PE_68: 0
DL_PE_68: 0
N_PE_68: 0
DN_PE_68: 0
DN_PE_68: 500
EUT_68: 1
Number_68: 100
Waveform_68: 1
Repet_68: 10.0
SurgePort_68: 0
TriggerMode_68: 0
Alternate_68: 0
PowerSyn_68: 0
PhaseSyn_68: 0
Deg168: 0
Deg268: 0
Deg368: 0
Deg468: 0
Deg1EN_68: 0
Deg2EN_68: 0
Deg3EN_68: 0
Deg4EN_68: 0
VpeakHLMT_68: 1000
VpeakLLMT_68: 0
IpeakHLMT_68: 1000
IpeakLLMT_68: 0
VpeakHLMT_EN_68: 0
VpeakLLMT_EN_68: 0
IpeakHLMT_EN_68: 0
IpeakLLMT_EN_68: 0
L_N_69: 1
L_PE_69: 0
DL_PE_69: 0
N_PE_69: 0
DN_PE_69: 0
DN_PE_69: 500
EUT_69: 1
Number_69: 100
Waveform_69: 1
Repet_69: 10.0
SurgePort_69: 0
TriggerMode_69: 0
Alternate_69: 0
PowerSyn_69: 0
PhaseSyn_69: 0
Deg169: 0
Deg269: 0
Deg369: 0
Deg469: 0
Deg1EN_69: 0
Deg2EN_69: 0
Deg3EN_69: 0
Deg4EN_69: 0
VpeakHLMT_69: 1000
VpeakLLMT_69: 0
IpeakHLMT_69: 1000
IpeakLLMT_69: 0
VpeakHLMT_EN_69: 0
VpeakLLMT_EN_69: 0
IpeakHLMT_EN_69: 0
IpeakLLMT_EN_69: 0
L_N_70: 1
L_PE_70: 0
DL_PE_70: 0
N_PE_70: 0
DN_PE_70: 0
DN_PE_70: 500
EUT_70: 1
Number_70: 100
Waveform_70: 1
Repet_70: 10.0
SurgePort_70: 0
TriggerMode_70: 0
Alternate_70: 0
PowerSyn_70: 0
PhaseSyn_70: 0
Deg170: 0
Deg270: 0
Deg370: 0
Deg470: 0
Deg1EN_70: 0
Deg2EN_70: 0
Deg3EN_70: 0
Deg4EN_70: 0
VpeakHLMT_70: 1000
VpeakLLMT_70: 0
IpeakHLMT_70: 1000
IpeakLLMT_70: 0
VpeakHLMT_EN_70: 0
VpeakLLMT_EN_70: 0
IpeakHLMT_EN_70: 0
IpeakLLMT_EN_70: 0
L_N_71: 1
L_PE_71: 0
DL_PE_71: 0
N_PE_71: 0
DN_PE_71: 0
DN_PE_71: 500
EUT_71: 1
Number_71: 100
Waveform_71: 1
Repet_71: 10.0
SurgePort_71: 0
TriggerMode_71: 0
Alternate_71: 0
PowerSyn_71: 0
PhaseSyn_71: 0
Deg171: 0
Deg271: 0
Deg371: 0
Deg471: 0
Deg1EN_71: 0
Deg2EN_71: 0
Deg3EN_71: 0
Deg4EN_71: 0
VpeakHLMT_71: 1000
VpeakLLMT_71: 0
IpeakHLMT_71: 1000
IpeakLLMT_71: 0
VpeakHLMT_EN_71: 0
VpeakLLMT_EN_71: 0
IpeakHLMT_EN_71: 0
IpeakLLMT_EN_71: 0
L_N_72: 1
L_PE_72: 0
DL_PE_72: 0
N_PE_72: 0
DN_PE_72: 0
DN_PE_72: 500
EUT_72: 1
Number_72: 100
Waveform_72: 1
Repet_72: 10.0
SurgePort_72: 0
TriggerMode_72: 0
Alternate_72: 0
PowerSyn_72: 0
PhaseSyn_72: 0
Deg172: 0
Deg272: 0
Deg372: 0
Deg472: 0
Deg1EN_72: 0
Deg2EN_72: 0
Deg3EN_72: 0
Deg4EN_72: 0
VpeakHLMT_72: 1000
VpeakLLMT_72: 0
IpeakHLMT_72: 1000
IpeakLLMT_72: 0
VpeakHLMT_EN_72: 0
VpeakLLMT_EN_72: 0
IpeakHLMT_EN_72: 0
IpeakLLMT_EN_72: 0
L_N_73: 1
L_PE_73: 0
DL_PE_73: 0
N_PE_73: 0
DN_PE_73: 0
DN_PE_73: 500
EUT_73: 1
Number_73: 100
Waveform_73: 1
Repet_73: 10.0
SurgePort_73: 0
TriggerMode_73: 0
Alternate_73: 0
PowerSyn_73: 0
PhaseSyn_73: 0
Deg173: 0
Deg273: 0
Deg373: 0
Deg473: 0
Deg1EN_73: 0
Deg2EN_73: 0
Deg3EN_73: 0
Deg4EN_73: 0
VpeakHLMT_73: 1000
VpeakLLMT_73: 0
IpeakHLMT_73: 1000
IpeakLLMT_73: 0
VpeakHLMT_EN_73: 0
VpeakLLMT_EN_73: 0
IpeakHLMT_EN_73: 0
IpeakLLMT_EN_73: 0
L_N_74: 1
L_PE_74: 0
DL_PE_74: 0
N_PE_74: 0
DN_PE_74: 0
DN_PE_74: 500
EUT_74: 1
Number_74: 100
Waveform_74: 1
Repet_74: 10.0
SurgePort_74: 0
TriggerMode_74: 0
Alternate_74: 0
PowerSyn_74: 0
PhaseSyn_74: 0
Deg174: 0
Deg274: 0
Deg374: 0
Deg474: 0
Deg1EN_74: 0
Deg2EN_74: 0
Deg3EN_74: 0
Deg4EN_74: 0
VpeakHLMT_74: 1000
VpeakLLMT_74: 0
IpeakHLMT_74: 1000
IpeakLLMT_74: 0
VpeakHLMT_EN_74: 0
VpeakLLMT_EN_74: 0
IpeakHLMT_EN_74: 0
IpeakLLMT_EN_74: 0
L_N_75: 1
L_PE_75: 0
DL_PE_75: 0
N_PE_75: 0
DN_PE_75: 0
DN_PE_75: 500
EUT_75: 1
Number_75: 100
Waveform_75: 1
Repet_75: 10.0
SurgePort_75: 0
TriggerMode_75: 0
Alternate_75: 0
PowerSyn_75: 0
PhaseSyn_75: 0
Deg175: 0
Deg275: 0
Deg375: 0
Deg475: 0
Deg1EN_75: 0
Deg2EN_75: 0
Deg3EN_75: 0
Deg4EN_75: 0
VpeakHLMT_75: 1000
VpeakLLMT_75: 0
IpeakHLMT_75: 1000
IpeakLLMT_75: 0
VpeakHLMT_EN_75: 0
VpeakLLMT_EN_75: 0
IpeakHLMT_EN_75: 0
IpeakLLMT_EN_75: 0
L_N_76: 1
L_PE_76: 0
DL_PE_76: 0
N_PE_76: 0
DN_PE_76: 0
DN_PE_76: 500
EUT_76: 1
Number_76: 100
Waveform_76: 1
Repet_76: 10.0
SurgePort_76: 0
TriggerMode_76: 0
Alternate_76: 0
PowerSyn_76: 0
PhaseSyn_76: 0
Deg176: 0
Deg276: 0
Deg376: 0
Deg476: 0
Deg1EN_76: 0
Deg2EN_76: 0
Deg3EN_76: 0
Deg4EN_76: 0
VpeakHLMT_76: 1000
VpeakLLMT_76: 0
IpeakHLMT_76: 1000
IpeakLLMT_76: 0
VpeakHLMT_EN_76: 0
VpeakLLMT_EN_76: 0
IpeakHLMT_EN_76: 0
IpeakLLMT_EN_76: 0
L_N_77: 1
L_PE_77: 0
DL_PE_77: 0
N_PE_77: 0
DN_PE_77: 0
DN_PE_77: 500
EUT_77: 1
Number_77: 100
Waveform_77: 1
Repet_77: 10.0
SurgePort_77: 0
TriggerMode_77: 0
Alternate_77: 0
PowerSyn_77: 0
PhaseSyn_77: 0
Deg177: 0
Deg277: 0
Deg377: 0
Deg477: 0
Deg1EN_77: 0
Deg2EN_77: 0
Deg3EN_77: 0
Deg4EN_77: 0
VpeakHLMT_77: 1000
VpeakLLMT_77: 0
IpeakHLMT_77: 1000
IpeakLLMT_77: 0
VpeakHLMT_EN_77: 0
VpeakLLMT_EN_77: 0
IpeakHLMT_EN_77: 0
IpeakLLMT_EN_77: 0
L_N_78: 1
L_PE_78: 0
DL_PE_78: 0
N_PE_78: 0
DN_PE_78: 0
DN_PE_78: 500
EUT_78: 1
Number_78: 100
Waveform_78: 1
Repet_78: 10.0
SurgePort_78: 0
TriggerMode_78: 0
Alternate_78: 0
PowerSyn_78: 0
PhaseSyn_78: 0
Deg178: 0
Deg278: 0
Deg378: 0
Deg478: 0
Deg1EN_78: 0
Deg2EN_78: 0
Deg3EN_78: 0
Deg4EN_78: 0
VpeakHLMT_78: 1000
VpeakLLMT_78: 0
IpeakHLMT_78: 1000
IpeakLLMT_78: 0
VpeakHLMT_EN_78: 0
VpeakLLMT_EN_78: 0
IpeakHLMT_EN_78: 0
IpeakLLMT_EN_78: 0
L_N_79: 1
L_PE_79: 0
DL_PE_79: 0
N_PE_79: 0
DN_PE_79: 0
DN_PE_79: 500
EUT_79: 1
Number_79: 100
Waveform_79: 1
Repet_79: 10.0
SurgePort_79: 0
TriggerMode_79: 0
Alternate_79: 0
PowerSyn_79: 0
PhaseSyn_79: 0
Deg179: 0
Deg279: 0
Deg379: 0
Deg479: 0
Deg1EN_79: 0
Deg2EN_79: 0
Deg3EN_79: 0
Deg4EN_79: 0
VpeakHLMT_79: 1000
VpeakLLMT_79: 0
IpeakHLMT_79: 1000
IpeakLLMT_79: 0
VpeakHLMT_EN_79: 0
VpeakLLMT_EN_79: 0
IpeakHLMT_EN_79: 0
IpeakLLMT_EN_79: 0
L_N_80: 1
L_PE_80: 0
DL_PE_80: 0
N_PE_80: 0
DN_PE_80: 0
DN_PE_80: 500
EUT_80: 1
Number_80: 100
Waveform_80: 1
Repet_80: 10.0
SurgePort_80: 0
TriggerMode_80: 0
Alternate_80: 0
PowerSyn_80: 0
PhaseSyn_80: 0
Deg180: 0
Deg280: 0
Deg380: 0
Deg480: 0
Deg1EN_80: 0
Deg2EN_80: 0
Deg3EN_80: 0
Deg4EN_80: 0
VpeakHLMT_80: 1000
VpeakLLMT_80: 0
IpeakHLMT_80: 1000
IpeakLLMT_80: 0
VpeakHLMT_EN_80: 0
VpeakLLMT_EN_80: 0
IpeakHLMT_EN_80: 0
IpeakLLMT_EN_80: 0
