<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LTISDLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <LTISDLL.Properties.Settings>
      <setting name="FileDB_dirpath" serializeAs="String">
        <value>./Datadir</value>
      </setting>
      <setting name="fdx" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fdy" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="filter_dirpath" serializeAs="String">
        <value>./condition/</value>
      </setting>
      <setting name="filter_deffile" serializeAs="String">
        <value>nadefmap.xml</value>
      </setting>
      <setting name="configDir" serializeAs="String">
        <value>./devconfig/</value>
      </setting>
      <setting name="dkdata_dir" serializeAs="String">
        <value>./dk/</value>
      </setting>
      <setting name="dead_time" serializeAs="String">
        <value>11/08/2017 14:39:00</value>
      </setting>
      <setting name="current_time" serializeAs="String">
        <value>11/07/2017 14:39:00</value>
      </setting>
      <setting name="copy_right" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dev_name" serializeAs="String">
        <value>nah</value>
      </setting>
    </LTISDLL.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>